<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdut.software.mapper.WrongQuestionsMapper">
    
    <!-- 添加一个错误问题 -->
    <insert id="addWrongQuestion" parameterType="com.gdut.software.entity.WrongQuestions">
        insert into wrongquestions
            (sid,question,kind)
        values(#{sid},#{question},#{kind})
    </insert>

    <!-- 查询错误问题 -->
    <select id="selectQuestions" parameterType="com.gdut.software.entity.QueryInfo"
            resultType="com.gdut.software.entity.WrongQuestions">
        select * from wrongquestions where sid = #{id}
        <if test="information!=null and information!=''">
            AND question like concat('%', #{information}, '%')
        </if>
        <if test="kind!=null and kind!=''">
            AND kind = #{kind}
        </if>
        order by kind,id
        limit #{page},#{size}
    </select>

    <select id="getCount" parameterType="com.gdut.software.entity.QueryInfo"
            resultType="java.lang.Integer">
        select count(*) from wrongquestions where sid = #{id}
        <if test="information!=null and information!=''">
            AND question like concat('%', #{information}, '%')
        </if>
        <if test="kind!=null and kind!=''">
            AND kind = #{kind}
        </if>
    </select>

    <select id="getKinds" resultType="java.lang.String">
        select distinct kind from wrongquestions where sid = #{id}
    </select>

    <delete id="deleteById">
        delete from wrongquestions where id = #{id}
    </delete>

    <select id="getAnalyseInformation" resultType="java.util.HashMap">
        select kind,count(*) as number from wrongquestions where sid = #{id}
        group by kind
    </select>

</mapper>